body {
    background-color: #10B0F7;
}

li {
  float: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

.nav {
  background-color: black;
  overflow: hidden;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 12px;
}

.nav a:hover {
  background-color: #7CD5FD;
  color: black;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.topnav a:hover {
  background-color: #7CD5FD;
  color: black;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
}